.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: black;
  align-self: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
